*
!package.json
!package-lock.json
!src/
!src/**/*.ts
!tsconfig.json
!tsconfig.cjs.json
!.editorconfig
!.eslintignore
!.eslintrc.json
!.prettierrc.js
!.npmignore
!README.md
!ci/
!ci/*.tf
!ci/pipeline.yaml
!ci/.terraform.lock.hcl
!LICENSE
